<h1 id="post_title">What was your question today?</h1>
<form class="post_input" method="POST" action="/post/add">

    <input class="input_items" name="subject" placeholder="Subject" type="text" required><br>

    <textarea class="input_items" name="content" placeholder="Question" rows="5" required></textarea><br>

    <select class="input_items" name="topic" required>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
    </select><br>

    <input class="input_items submit" type="button" value="Post to Timeline"> 
</form>