<div class="posts_container">
    <%- include('posts', {post: {subject: posts.subject, content: posts.content, 
        topic: posts.topic, time: posts.time, num_replies: posts.num_replies}}); %> 
</div>