<div class="searchContainer">
    <a href="/home"><img src="/img/kblogo.png" alt="" id="kblogo"></a>
    <form class="searchForm" action="/search" method="get">
        <input type="text" name="searchKey" value="" placeholder="Search" id="searchInput">
        <button type="submit" name="Searchbutton" class="searchBtn"> <i class="fa fa-search"></i></button>
    </form>
    <form class="logoutForm" action="/logout" method="get">
        <button type="submit" name="button" class="logoutBtn">Logout</button>
    </form>
</div>