<div class="searchbytopic">
    <h4>Search by topic</h4>
    <form action="/searchByTopic" method="GET">
    <select class="searchTopicInput" name="topic" required>
        <% topics.forEach(function(topic) { %>
            <option value="<%=topic.post_topic_code%>"><%=topic.post_topic_text%></option>
        <% }); %>
    </select>
    <button class="gobtn" type="submit">go</button>
</form>
</div>