<div class = "search_part">
    <input type="text" placeholder="&#xf002 Search">
    <button>Logout</button>
</div>  
<div class = "wrapper">
    <div class="user_list">
        <div tabindex ="-1" class= "user">
            <div class = "photo">
                <img src="/test.jpg" alt="profile image">
            </div>
            <div class="user_info">
                <p>Vivian Wang</p>
                <p>New role</p>
            </div>
            <div class="date">
                <p>Sep 18</p>
            </div>
        </div>  
         <div tabindex ="-1" class= "user">
            <div class = "photo">
                <img src="/test.jpg" alt="profile image">
            </div>
            <div class="user_info">
                <p>Vivian Wang</p>
                <p>New role</p>
            </div>
            <div class="date">
                <p>Sep 18</p>
            </div>
        </div>     
    </div>
    <div class="container">
        <div class="message_list">
            <p><span>Sep 4</span></p>
            <div class="content_photo">
                <img src="/test.jpg" alt="profile image">
                <div class="content">
                    <p>Vivian Wang</p>
                    <p>sssssssss</p>
                </div>
            </div>
            <p><span>Sep 4</span></p>
            <div class="content_photo">
                <img src="/test.jpg" alt="profile image">
                <div class="content">
                    <p>Vivian Wang</p>
                    <p>sssssssss</p>
                </div>
            </div>
            <p><span>Sep 4</span></p>
            <div class="content_photo">
                <img src="/test.jpg" alt="profile image">
                <div class="content">
                    <p>Vivian Wang</p>
                    <p>sssssssss</p>
                </div>
            </div>
            <p><span>Sep 4</span></p>
            <div class="content_photo">
                <img src="/test.jpg" alt="profile image">
                <div class="content">
                    <p>Vivian Wang</p>
                    <p>sssssssss</p>
                </div>
            </div>
        </div>
        <form>
            <input type="text" name="message" placeholder="Write a message...">
            <input type="submit" value="send">
        </form>
    </div>
</div>

