<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/editprofile.css" type="text/css">
    <title>Edit Profile</title>
</head>

<body>
    <div class="container">
        <h1 id="EditProfileHeading">Edit Profile</h1>
        <img src="https://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/kid-flash-bart-allen-young-justice-89.9.jpg" alt="" id="profilePic">
        <br>
        <form action="/updateProfile" method="POST">
            <h4>Image URL</h4>
            <input type="url" name="imageURL" id="imageURLInput">
            <h4>First name</h4>
            <input type="text" name="firstname">
            <h4>Last name</h4>
            <input type="text" name="lastname">
            <h4>Country</h4>
            <input type="text" name="country">
            <h4>Date of Birth</h4>
            <input type="date" name="dateOfBirth">
            <h4>About</h4>
            <textarea rows="6" cols="70" id="about" name="about"></textarea><br>
            <button type="submit" name="button" id="updateProfileBtn">Update</button>
        </form>
    </div>
</body>

</html>
