<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Knowledge Base | Post</title>
    <meta name="description" content="Knowledge Base | Post">
    <meta name="author" content="Sam Tadey">

    <script src="/js/posts.js" defer></script>
    <link rel="stylesheet" href="/css/posts.css">
    <link rel="stylesheet" href="/css/post_comment.css">
    <link rel="stylesheet" href="/css/searchbar.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('partials/searchbar') %>
    <div class='col-lg-8'>
        <%- include('partials/posts_container', {posts: post}); %>
    </div>

    <div class='col-lg-8'>
        <%- include('partials/post_comment', {post_id: post[0].post_id, comments: comments}); %>
    </div>

</body>

</html>