<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Knowledge Base</title>
    <meta name="description" content="Knowledge Base">
    <meta name="author" content="Hao Tang">

    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js" defer></script>
</head>

<body>
    <h1>Knowledge Base Home</h1>
</body>
</html>