<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Knowledge Base | Test Page</title>
    <meta name="description" content="Knowledge Base | Test Page">
    <meta name="author" content="Sam Tadey">

    <link rel="stylesheet" href="/css/posts.css">
    <!-- <script src="/js/script.js" defer></script> -->
</head>

<body>
    <%- include('partials/posts_container', {posts: 
        [{
            img_url: "https://randomuser.me/portraits/med/men/1.jpg", 
            subject: "Test", 
            num_replies: 8, 
            time: "Jan 2019", 
            topic: "Php", 
            content: "This is the best. This is the best. I am the best. This is the best post that I have ever made. It is the best because everyone is replying to it. It makes me feel good."
        },
        {
            img_url: "https://randomuser.me/portraits/med/men/1.jpg", 
            subject: "Test", 
            num_replies: 8, 
            time: "Jan 2019", 
            topic: "Node.js", 
            content: "This is the best post that I have ever made."
        },
        {
            img_url: "https://randomuser.me/portraits/med/men/1.jpg", 
            subject: "Test", 
            num_replies: 8, 
            time: "Jan 2019", 
            topic: "Node.js", 
            content: "This is the best post that I have ever made."
        },
        {
            img_url: "https://randomuser.me/portraits/med/men/1.jpg", 
            subject: "Test", 
            num_replies: 8, 
            time: "Jan 2019", 
            topic: "Node.js", 
            content: "This is the best post that I have ever made."
        }
        ]}); %> 

        <%- include('partials/post_input_container', {}); %>
</body>

</html>