

.comment {
    width: 60%;
    float: right;
    height: 100px;
    margin-bottom: 20px;
    background: beige;
}

#comment_content {
    width: 100%;
    resize: none;
    margin-bottom: 10px;
}

#comment_form {
    float: right;
    width: 60%;
    margin-bottom: 20px;
}